<!DOCTYPE html>
<html lang="en">
    <%- include("layouts/header.ejs"); -%>
    <body>
        <%- include("layouts/navbar.ejs"); -%>
        <!-- Page Header-->
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form action="/posts/store" method="POST" enctype="multipart/form-data"  >
                                <div class="form-floating">
                                    <input class="form-control" id="name" name="title" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required" name="title">A Title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" placeholder="Enter your message here..." name="body" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <script>
                                        $('#message').summernote({
                                        placeholder: 'Hello bootstrap 4',
                                        tabsize: 2,
                                        height: 200
                                        });
                                    </script>
                                    <label for="message">Description</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required" >A message is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="image" name="image" type="file" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">File</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required" name="title">A Title is required.</div>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
